<h2>Lista jednostek</h2>
<!--
  <ul *ngFor="let unit of units">
    <li>{{unit.id}}, {{unit.data_aktualizacji}}, {{unit.nazwa_jednostki}}, {{unit.adres_jednostki}}, {{unit.uwagi}}</li>
  </ul>

  <button mat-raised-button color="primary">Primary</button>
-->

<table mat-table *ngFor="let unit of units">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{unit.id}}</th>
    <td mat-cell *matHeaderCellDef="let units" >{{unit.id}}</td>
  </ng-container>

  <ng-container matColumnDef="data_aktualizacji">
    <th mat-header-cell *matHeaderCellDef>{{unit.data_aktualizacji}}</th>
    <td mat-cell *matHeaderCellDef="let units" >{{unit.data_aktualizacji}}</td>
  </ng-container>

  <ng-container matColumnDef="nazwa_jednostki">
    <th mat-header-cell *matHeaderCellDef>{{unit.nazwa_jednostki}}</th>
    <td mat-cell *matHeaderCellDef="let units">{{unit.nazwa_jednostki}}</td>
  </ng-container>

  <ng-container matColumnDef="adres_jednostki">
    <th mat-header-cell *matHeaderCellDef>{{unit.adres_jednostki}}</th>
    <td mat-cell *matHeaderCellDef="let units">{{unit.adres_jednostki}}</td>
  </ng-container>

  <ng-container matColumnDef="uwagi">
    <th mat-header-cell *matHeaderCellDef>{{unit.uwagi}}</th>
    <td mat-cell *matHeaderCellDef="let units">{{unit.uwagi}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef= "let row; columns: displayedColumns"></tr>
</table>

