<h2>Lista jednostek</h2>

<div class="mat-elevation-z8">
  <table mat-table cellspacing='2' cellpadding='40' [dataSource]="dataSource" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Lp. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="unit_name">
      <th mat-header-cell *matHeaderCellDef> Nazwa jednostki </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwa_jednostki}} </td>
    </ng-container>

    <ng-container matColumnDef="unitAdres">
      <th mat-header-cell *matHeaderCellDef> Adres jednostki </th>
      <td mat-cell *matCellDef="let element"> {{element.adres_jednostki}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button routerLink="/buildings/buildingsTable" routerLinkActive="active"> Wybierz </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,25]" showFirstLastButtons></mat-paginator>
</div>
<router-outlet></router-outlet>


