<form [formGroup]="buildingForm">
  <mat-form-field>
    <input matInput placeholder="Id budynku" formControlName="buildingID">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Typ budynku" formControlName="buildingType">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Rok budowy" formControlName="buildYear">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Numer działki" formControlName="parcelNumber">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Województwo" formControlName="province">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Powiat" formControlName="countie">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Gmina" formControlName="commune">
  </mat-form-field>

  <button mat-raised-button (click)="onSubmit()"> Wyślij </button>
</form>
