<div class="logSrceen">
  <img mat-card-image class="logo" src="assets/logo.gif">
  <h1>Województwo Zachodniopomorskie</h1>
  <h3>Mienie Skarbu Państwa</h3>

  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Login</label>
      <input type="text">
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password">
    </div>
    <div class="form-group">
      <button>
        Zaloguj
      </button>
    </div>
  </form>


  <button (click)="test()">Zapomniałem hasła </button>
  <button (click)="test2()">Zapomniałem hasła </button>

</div>
