<!-- <div class="legal-status-table">
  <h2> Stan prawny lokali mieszkalnych i użytkowych </h2>

  <button mat-raised-button class="mat-raised-button__functional" (click)="openForm()"> Nowy rekord </button>
  <button mat-raised-button class="mat-raised-button__functional" > Eksport do excell </button>

  <mat-card>Brak rekordów w bazie danych</mat-card>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2> Stan prawny lokali mieszkalnych i użytkowych </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <button mat-raised-button class="mat-raised-button__functional" (click)="openForm()"> Nowy rekord </button>
    </div>
  </div>
</div>
