mat-toolbar{
  background-color: #707070;
  border-top: 0;
  height: 150px;
}

.logo-container{
  margin-top: 100px;
  width: 143px;
  margin-left: 50px;
  margin-right: 120px;
}

.logo{
  width: 115px
}
