<h2>Edycja rekordu</h2>

<form [formGroup]="buildingEdit">
  <!-- <mat-form-field>
    <input matInput placeholder="Id budynku" formControlName="buildingID">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Typ budynku" formControlName="buildingType">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Rok budowy" formControlName="buildYear">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Numer działki" formControlName="parcelNumber">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Województwo" formControlName="province">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Powiat" formControlName="countie">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Gmina" formControlName="commune">
  </mat-form-field> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Id budynku" formControlName="buildingID">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Typ budynku" formControlName="buildingType">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Rok budowy" formControlName="buildYear">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Rok budowy" formControlName="buildYear">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Numer działki" formControlName="parcelNumber">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Województwo" formControlName="province">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Powiat" formControlName="countie">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="text" placeholder="Gmina" formControlName="commune">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button mat-raised-button (click)="onSubmit()"> Wyślij </button>
      </div>
      <div class="col-md-6">
        <button mat-raised-button (click)="closeDialog()"> Anuluj </button>
      </div>
    </div>
  </div>
</form>

